form(method="post" action="/borrow")
   label Borrow Name
       input(type="text" name="bookName")
   label Book ID 
       input(type="text" name="bookID") 
   label YOUR Roll NO.
       input(type="text" name="rollno")
   button(type="SUBMIT") SUBMIT   
a(href="/info") want to know fine 