form(method="POST" action="/signup")
   lable Email
      input(type="text" name="email")
   lable RollNo
      input(type="text" name="rollno")
   lable Username
      input(type="text" name="username")
   lable Password
      input(type="password" name="password")
   
   button SUBMIT

   a(href="/loginadmins") 
       h3 ARE YOU A ADMIN LOGIN